<!DOCTYPE html>
<html>
<head>
  <title>EtsyClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.strip.com/v2/' %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
	<%= render 'layouts/alert' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
